
<div class="accordion" id="viewCommentAccordian-<%= comment.id %>">
	<div class="accordion-item">
		<h2 class="accordion-header" id="viewCommentHeading-<%= comment.id %>">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#viewCommentCollapse-<%= comment.id %>" aria-expanded="false" aria-controls="viewCommentCollapse-<%= comment.id %>" aria-expanded="true">
				<% if (!comment.deleted) { %>
						<%= comment.user.userName %>
						<% if (comment.edited) { %> <span class="fa fa-asterisk" style="color: red;"></span> <% } %>
				<% } else { %>
					Deleted
				<% } %>
			</button>
		</h2>
		<div id="viewCommentCollapse-<%= comment.id %>" class="accordion-collapse collapse show" aria-labelledby="viewCommentHeading-<%= comment.id %>" data-bs-parent="#viewCommentAccordian-<%= comment.id %>">
			<div class="accordion-body">
				<div class="justify-content-between">
					<%if(!comment.deleted && comment.user._id == userId){ %>
						<form
							action="/comment/deleteComment/<%= postId %>/<%= comment.id %>?_method=DELETE"
							method="POST"
							style="float: right;"
						>
							<div class="btn-group" role="group" aria-label="Comment Actions">
								<button class="btn btn-danger fa fa-trash" type="submit"></button>
								<button type="button" class="btn btn-warning fa fa-edit" data-bs-toggle="modal" data-bs-target="#editComment-<%= comment.id %>"></button>
							</div>
						</form>
					<% } %>

					<%= comment.deleted ? '' : comment.text %>

					<%if(!comment.deleted && comment.user._id == userId){ %>
					<div class="modal fade" id="editComment-<%= comment.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<form class="modal-content" action="/comment/editComment/<%= postId %>/<%= comment.id %>?_method=PATCH" method="POST">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
								</div>
								<div class="modal-body">
									<div class="mb-3">
										<label for="text" class="form-label">Edited Comment</label>
										<textarea class="form-control" id="text" name="text"><%= comment.text %></textarea>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
									<button class="btn btn-primary">Update Comment</button>
								</div>
							</form>
						</div>
					</div>
					<%}%>
				</div>
				<div class="accordion" id="addCommentAccordian-<%= comment.id %>">
					<div class="accordion-item">
						<h2 class="accordion-header" id="addCommentHeading-<%= comment.id %>">
							<button class="accordion-button collapsed" style="background-color: hsl(190, 100%, 85%)" type="button" data-bs-toggle="collapse" data-bs-target="#addCommentCollapse-<%= comment.id %>" aria-expanded="false" aria-controls="addCommentCollapse-<%= comment.id %>">
								Add Comment
							</button>
						</h2>
						<div id="addCommentCollapse-<%= comment.id %>" class="accordion-collapse collapse" aria-labelledby="addCommentHeading-<%= comment.id %>" data-bs-parent="#addCommentAccordian-<%= comment.id %>">
							<div class="accordion-body">
								<form action="/comment/createComment/<%= postId %>/<%= comment.id %>" method="POST">
									<div class="mb-3">
										<label for="text" class="form-label">Text</label>
										<textarea class="form-control" id="text" name="text"></textarea>
									</div>
									<button type="submit" class="btn btn-primary">Submit</button>
								</form>
							</div>
						</div>
					</div>	
				</div>
				<% for (const subComment of comment.comments || []) { %>
					<%- include('comment', { postId, userId, comment: subComment, depth: depth + 1 }) -%>
				<% } %>
			</div>
		</div>
	</div>	
</div>